@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body { 
    background-color: #F6F6F6;
}

nav {
    height: 50px;
    width: 100%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    display: flex;
    align-items: center;
    padding: 35px;
    position: relative;
}

#nav-user-icon {
    margin-right: 6px;
}

.login_logo {
    text-align: center;
    margin-top: 10vh;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover, .nav-link:hover, .regbtn:hover {
    color: #C63F18;
}

.nav-link, .regbtn {
    margin-left: 5px;
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #C63F18;
}

.ts {
    margin-left: auto;
}

.homepage {
    height: 640px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position:center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('');
}

/*login module*/

.login_box {
    padding: 50px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    margin-bottom: 10px;
    margin-top: 50px;
    text-align: center;
}

.login_container .login_label {
  text-align: left;
}

.register_container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 30px; */
    margin-bottom: 30px;
}

.reg-div, .btns-grp {
    text-align: right;
}



.col {
    display: row;
}




/* .main_container {
    background-image: url('pictures/.png');
    background-size: cover;
    background-position:center center;
    height: 100%;
} */

.login_header {
    color: #C63F18;
    font-size: 40px;
    font-weight: 600;
    text-align: left;
}

label {
    margin-top: 15px;
    font-weight: 600;
}

input[type=text], input[type=password] {
    width: 420px;
    height: 45px;
    border-radius: 10px;
    border: 1px solid #C63F18;
    padding: 10px;
}

textarea {
    width: 420px;
    height: 128px;
    border-radius: 10px;
    border: 1px solid #C63F18;
    padding: 10px;
    resize: none;
}

.upload-btn {
    background-color: white;
    border: 1px solid #C63F18;
    color: #C63F18;
    padding: 0.6rem;
    border-radius: 1rem;
    cursor: pointer; 
    margin-top: 0;
}

#file-chosen {
    color: #777777;
    padding: 0.5rem;
}

#roles {
    width: 418px;
    height: 45px;
    border-radius: 10px;
    border: 1px solid #C63F18;
    padding: 10px;
}



.all_btn {
    width: 300px;
    height: 50px;
    background-color: #C63F18;
    border: none;
    border-radius: 20px;
    margin-top: 30px;
    font-weight: 800;
    color: white;
}

.account_notice {
    text-align: center;
}

#activebtn {color: #C63F18;}

.dropdown {
    position: relative;
}

.list {
    position: absolute;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.3s;
    width: 300px;
}

.newList {
    transform: scaleY(1);
    transition: 0.3s;
}

.account_notice p {
    margin-top: 25px;
    font-size: 14px;
}

/*reservation module*/

.header {
    text-align:center;
    color: #C63F18;
    margin-top: 25px;
    font-size: 30px;
    font-weight: 600;
}



.item-row {
    display: flex;
    align-items: center;
    margin: 50px 250px 25px;
    background-color: white;
    border-radius: 10px;
}

.item-pic {
    flex: 1;
    display: flex;
    align-items: center;
}

.item-pic img {
    height: 200px;
    width: auto;
}


#reserve_btn {
    margin-right: 30px;
    margin-top: 0;
    width: 250px;
}


/*Employee masterlist*/
.user-container {
    padding: 5rem;
}

.emp-name-bold {
    font-weight: 700;
}

th {
    color: #777777;
    border: none;
}

.page-title, .user-count, .device-count {
    color: #C63F18;
}

.page-title { 
  margin-bottom: 20px;
  font-size: 45px;
}

.emp-pic, .device-pic {
    height: 120px;
    border-radius: 20px;
}

td i {
    background-color: #437FC7;
    padding: 15px;
    border-radius: 15px;
    color: white;
    margin-right: 10px;
    cursor: pointer;
}

#edit-btn {
    background-color: #40A344;
}

/*search style*/

.searchContainer {
    padding: 1rem;
    background-color: #F3E0DA;
    border-radius: 15px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.search-box .search {
    width: 100%;
    position: relative;
    display: flex;
  }
  .search-box .searchTerm {
    width: 100%;
    height: 60px;
    border: none;
    border-right: none;
    padding: 15px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #777777;
  }
  .search-box .searchTerm:focus{
    color: #C63F18;
  }
  .search-box .searchButton {
    width: 60px;
    height: 60px;
    border: 1px solid #C63F18;
    background: #C63F18;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }

  .search-box .searchButton i{
    color: white;
  }

  .searchFilters {
    display: flex;
    align-items: center;
    padding: 1rem;
  }

  /* .searchContainer label {
    margin-right: 20px;
    display: inline-block;
  } */

  .filterGroup {
    border: none;
    border-radius: 15px;
    margin-right: 20px;
    width: 200px;
    height: 50px;
    color: #777777;
    display: inline-block;
  }

  .searchFilters select {
    padding: 5px;
  }


  /*view employee & device css*/

  .view-emp-container {
    padding: 5rem;
  }



  .remove-btn-div {
    text-align: right;
  }

  .remove-btn {
    padding: 10px;
    color: white;
    background-color: #E30000;
    border: none;
    border-radius: 15px;
    margin-bottom: 10px;
  }

  #remove-icon {
    margin-right: 10px;
  }

  /*dashboard*/

  .dashboard-details {
    display: flex;
    justify-content: space-evenly;
  }


  .detail-container {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 2rem;
    margin-top: 10px;
  }

  .d-detail-container {
    background-color: #ffffff;
    border-radius: 15px;
    width: 300px;
    padding: 2rem;
    margin-top: 20px;
  }

  .d-detail-container h2 {
    color: #C63F18;
    font-weight: 700;
  }

  .d-detail-container p {
    color: #c64e18;
  }

  .detail-header {
    text-align: center;
  }

  .detail-table, .transacted {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .detail-table th, .detail-table td, .transacted th, .transacted td {
    padding: 10px;
  }

  .detail-table td {
    background-color: #F3E0DA;
  }

  .transacted {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 1rem;
  }

  .transacted td {
    background-color: #F3E0DA;
  }

  .spec-role-flex {
    display: flex;
    justify-content: center;
    gap: 15px;
  }

  /*edit details*/

  #cancel-btn {
    background-color: #ffffff;
    color: #C63F18;
    border: 1px solid #C63F18;
  }

  .save-cancel-div {
    text-align: center;
  }


  /*VIEW PROFILE*/

  .profile-container {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.prof-pic {
  height: 150px;
  border-radius: 15px;
}

.profile-card, .resetpw-card {
    background-color: #ffffff;
    width: 500px;
    text-align: center;
    border-radius: 15px;
    padding: 20px;
}

.logout-btn-div {
  margin-top: 15px;
}

.resetpw-card {
  margin-top: 10px;
}

#logout-btn {
  border: 1px solid #C63F18;
  border-radius: 15px;
  background-color: #ffffff;
  color: #C63F18;
  padding: 10px;
}

#reset-btn {
  border: 1px solid;
  border-radius: 15px;
  background-color: #C63F18;
  color: #ffffff;
  padding: 10px;
}

.btn-div {
  margin-top: 15px;
}


/*testing code dashboard*/


.home-content{
  position: relative;
  padding: 60px;
}


.home-content .overview-boxes{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 20px;
  margin-bottom: 26px;
}
.overview-boxes .box{
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / 4 - 15px);
  background: #fff;
  padding: 15px 14px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  border: 1px solid #C63F18;
}
.overview-boxes .box-topic{
  font-size: 20px;
  font-weight: 500;
  color: #C63F18;
}
.home-content .box .number{
  display: inline-block;
  font-size: 35px;
  margin-top: -6px;
  font-weight: 500;
  color: #C63F18;
}

.home-content .box .indicator .text{
  font-size: 12px;
}
.home-content .box .cart{
  display: inline-block;
  font-size: 32px;
  height: 50px;
  width: 50px;
  background: #cce5ff;
  line-height: 50px;
  text-align: center;
  color: #66b0ff;
  border-radius: 12px;
  margin: -15px 0 0 6px;
}
.home-content .box .cart.two{
   color: #2BD47D;
   background: #C0F2D8;
 }
.home-content .box .cart.three{
   color: #ffc233;
   background: #ffe8b3;
 }
.home-content .box .cart.four{
   color: #e05260;
   background: #f7d4d7;
 }
.home-content .total-order{
  font-size: 20px;
  font-weight: 500;
}
.home-content .sales-boxes{
  display: flex;
  justify-content: space-between;
  /* padding: 0 20px; */
}

/* left box */
.home-content .sales-boxes .recent-sales{
  width: 65%;
  background: #fff;
  padding: 20px 30px;
  margin: 0 20px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.home-content .sales-boxes .sales-details{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sales-boxes .box .title{
  font-size: 24px;
  font-weight: 500;
  color: #C63F18;
  /* margin-bottom: 10px; */
}
.sales-boxes .sales-details li.topic{
  font-size: 20px;
  font-weight: 500;
  color: #C63F18;
}
.sales-boxes .sales-details li{
  list-style: none;
  margin: 8px 0;
}
.sales-boxes .sales-details li a{
  font-size: 18px;
  color: #333;
  font-size: 400;
  text-decoration: none;
}
.sales-boxes .box .button{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.sales-boxes .box .button a{
  color: #fff;
  background: #C63F18;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 400;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.sales-boxes .box .button a:hover{
  background:  #c64e18;
}

/* Right box */
.home-content .sales-boxes .top-sales{
  width: 35%;
  background: #fff;
  padding: 20px 30px;
  margin: 0 20px 0 0;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.sales-boxes .top-sales li{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}
.sales-boxes .top-sales li a img{
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 12px;
  margin-right: 10px;
  background: #333;
}
.sales-boxes .top-sales li a{
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sales-boxes .top-sales li .product,
.price{
  font-size: 17px;
  font-weight: 400;
  color: #333;
}
/* Responsive Media Query */
@media (max-width: 1240px) {
  .sidebar{
    width: 60px;
  }
  .sidebar.active{
    width: 220px;
  }
  .home-section{
    width: calc(100% - 60px);
    left: 60px;
  }
  .sidebar.active ~ .home-section{
    /* width: calc(100% - 220px); */
    overflow: hidden;
    left: 220px;
  }
  .home-section nav{
    width: calc(100% - 60px);
    left: 60px;
  }
  .sidebar.active ~ .home-section nav{
    width: calc(100% - 220px);
    left: 220px;
  }
}
@media (max-width: 1150px) {
  .home-content .sales-boxes{
    flex-direction: column;
  }
  .home-content .sales-boxes .box{
    width: 100%;
    overflow-x: scroll;
    margin-bottom: 30px;
  }
  .home-content .sales-boxes .top-sales{
    margin: 0;
  }
}
@media (max-width: 1000px) {
  .overview-boxes .box{
    width: calc(100% / 2 - 15px);
    margin-bottom: 15px;
  }
}
@media (max-width: 700px) {
  nav .sidebar-button .dashboard,
  nav .profile-details .admin_name,
  nav .profile-details i{
    display: none;
  }
  .home-section nav .profile-details{
    height: 50px;
    min-width: 40px;
  }
  .home-content .sales-boxes .sales-details{
    width: 560px;
  }
}
@media (max-width: 550px) {
  .overview-boxes .box{
    width: 100%;
    margin-bottom: 15px;
  }
  .sidebar.active ~ .home-section nav .profile-details{
    display: none;
  }
}
  @media (max-width: 400px) {
  .sidebar{
    width: 0;
  }
  .sidebar.active{
    width: 60px;
  }
  .home-section{
    width: 100%;
    left: 0;
  }
  .sidebar.active ~ .home-section{
    left: 60px;
    width: calc(100% - 60px);
  }
  .home-section nav{
    width: 100%;
    left: 0;
  }
  .sidebar.active ~ .home-section nav{
    left: 60px;
    width: calc(100% - 60px);
  }
}


/*homepage*/

#homepg-btn {
  border: 1px solid #C63F18;
  padding: 10px;
  border-radius: 15px;
  color: white;
  background-color: #C63F18;
}

.overview {
  background-color: #777777;
  background-image: url("./pictures/home-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


.overview-content{
    color: white;
    text-align: center;
    width: 800px;
}

.textbox p {
  margin: 20px 0 40px;
  font-size: 14px;
}

#hero-btn {
  padding: 15px;
  border-radius: 5px;
  font-size: 16px;
  border: 1px solid #ffffff;
}

.features-content {
  padding: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.feature-box {
  width: 500px;
  text-align: center;
}

.features-gray {
  background-color: #E9ECEF;
}

.f-textbox h4 {
  font-size: 34px;
}

.f-textbox h6 {
  font-size: 20px;
}

.f-feature-box {
  border: 1px solid #C63F18;
  border-radius: 10px;
  padding: 50px;
}

.f-feature-box h3 {
  font-size: 20px;
}

.borrow_module {
  text-align: center;
  display: flex;
}

.device-view {
  width: 800px;
}

.device-info {
  text-align: left;
  color: #777777;
  background-color: #F3E0DA;
  border-radius: 15px;
  width: 550px;
  padding: 10px;
  margin: auto;
}

.device-info ul {
  list-style-type: none;
}

.date-picker {
  width: 525px;
  height: 50px;
  border: 1px solid #C63F18;
  border-radius: 15px;
  padding: 10px;
}

.picker-flex {
  display: flex;
  align-items: center;
}

.picker-div {
  align-items: center;
}

.btn-grp {
  text-align: center;
  margin-top: 20px;
}

.btn-grp button {
  margin: 0 20px 0px 20px;
}

.btn-grp .cancel-btn {
  border: 3px solid #C63F18;
  border-radius: 15px;
  color: #C63F18;
  font-size: 18px;
  font-weight: 800;
  width: 200px;
  height: 50px;
}

.btn-grp .reserve-btn {
  background-color: #C63F18;
  border-radius: 15px;
  font-size: 18px;
  font-weight: 800;
  width: 250px;
  height: 50px;
  color: white;
  border: none;
}

/*emp view - equipment packages*/

.equipment-col {
  display: flex;
  justify-content: space-evenly;
}

.equipment-row {
  text-align: center;
  border: 1px solid #C63F18;
  border-radius: 15px;
  background-color: #ffffff;
  padding: 50px;
}

.equipment-row ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.select-btn, .generate-btn {
  margin-top: 25px;
  border: none;
  width: 200px;
  height: 50px;
  border-radius: 15px;
  font-weight: 800;
  background-color: #C63F18;
  color: white;
}


/*generate report*/

.report-picker {
  display: flex;
  justify-content: space-evenly;
}

.generate-btn-div {
  text-align: center;
  margin-top: 50px;
}


/* Progressbar */
.progressbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  counter-reset: step;
  margin: 2rem 0 4rem;
}

.progressbar::before,
.progress {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  background-color: #dcdcdc;
  z-index: -1;
}

.progress {
  background-color: #C63F18;
  width: 0%;
  transition: 0.3s;
}

.progress-step {
  width: 2.1875rem;
  height: 2.1875rem;
  background-color: #dcdcdc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-step::before {
  counter-increment: step;
  content: counter(step);
}

.progress-step::after {
  content: attr(data-title);
  position: absolute;
  top: calc(100% + 0.5rem);
  font-size: 0.85rem;
  color: #666;
}

.progress-step-active {
  background-color: #C63F18;
  color: #ffffff;
}

#btn-next, #btn-prev {
  width: 150px;
  height: 40px;
  background-color: #c63f18;
  border-radius: 20px;
  text-align: center;
  font-weight: 800;
  color: #ffffff;
}

.btn-reg {
  border: none;
  width: 200px;
  height: 40px;
  background-color: #C63F18;
  border-radius: 20px;
  color: #ffffff;
  font-weight: 800;
}


.form-step {
  display: none;
  transform-origin: top;
  animation: animate 0.5s;
}

.form-step-active {
  display: block;
}


@keyframes animate {
  from {
    transform: scale(1, 0);
    opacity: 0;
  }
  to {
    transform: scale(1, 1);
    opacity: 1;
  }
}

/*MEDIA QUERIES*/

